<app-header></app-header>

<div class="cart-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-heading mb-10">My wishlist</div>
        <div class="table-wishlist">
          <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <thead>
              <tr>
                <th width="45%">Product Name</th>
                <th width="15%">Unit Price</th>
                <th width="15%">Stock Status</th>
                <th width="15%"></th>
                <th width="10%"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of WishList">
                <td width="45%">
                  <div class="display-flex align-center">
                    <div class="img-product">
                      <img
                        src="{{ item.image }}"
                        alt=""
                        class="mCS_img_loaded"
                      />
                    </div>
                    <div class="name-product">
                      {{ item.name }}
                    </div>
                  </div>
                </td>
                <td width="15%" class="price">
                  {{ item.price | number : "1.0-0" }} ₫
                </td>
                <td width="15%">
                  <span
                    *ngIf="item.quantity > 0; else outOfStock"
                    class="in-stock-box"
                    >In Stock</span
                  >
                  <ng-template #outOfStock>
                    <span class="in-stock-box"
                      >Out of Stock</span
                    >
                  </ng-template>
                </td>
                <td width="15%">
                  <button
                    class="round-black-btn small-btn"
                    (click)="addToCart(item)"
                  >
                    Add to Cart
                  </button>
                </td>
                <td width="10%" class="text-center">
                  <a
                    (click)="deleteWishList(item.id)"
                    class="trash-icon"
                    ><i class="far fa-trash-alt"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
